* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1em;
  background-color: rgb(48, 47, 47);
  color: rgb(214, 213, 213);
}

.container {
  margin: 20px;
  padding: 20px;
  background-color: rgb(175, 132, 76);
  border-radius: 20px;
}

.title {
  text-align: center;
}

.score-panel {
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.playerx, .playero, .ties {
  margin: 7px;
  padding: 11px;
  border-radius: 10px;
  background-color: rgb(15, 48, 63);
}

.playerx.active {
  margin: 3px;
  border: 4px solid #bedb38;
}

.playero.active {
  margin: 3px;
  border: 4px solid #f27404;
}

.tiescore, .poscore, .pxscore {
  margin-bottom: 12px;
  text-align: center;
}

.poname {
  color: #f27404;
}

.pxname {
  color: #bedb38;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin-top: 20px;
  grid-gap: 15px;
  background-color: rgba(15, 48, 63, 0.6);
}

.cell {
  background-color: rgb(175, 132, 76);
  width: 100px;
  height: 100px;
  padding: 13px;
  text-align: center;
  cursor: pointer;
  font-size: 55px;
  font-weight: bolder;
}

.settings-panel {
  font-size: 23px;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.reset, .playagain {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}

.reset:hover, .playagain:hover {
  text-transform: uppercase;
  color: rgba(15, 48, 63, 0.6);
  text-decoration: underline;
}

.winner-panel.invisible {
  display: none;
}

.winner-panel.visible {
  position: absolute;
  text-align: center;
  margin-top: -250px;
  margin-left: 15px;
  padding: 30px;
  background-color: rgb(15, 48, 63);
  display: block;
  opacity: 0.9;
  font-weight: bolder;
  font-size: 18px;
}

@media screen and (max-width: 360px) {
  .board {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    margin-top: 10px;
    grid-gap: 22px;
    background-color: rgba(15, 48, 63, 0.6);
  }

  .cell {
    background-color: rgb(175, 132, 76);
    width: 80px;
    height: 80px;
    padding: 13px;
    text-align: center;
    cursor: pointer;
    font-size: 55px;
    font-weight: bolder;
  }

  .winner-panel.visible {
    margin-left: 0px;
  }

  .reset, .playagain {
    font-size: 18px;
  }

  .reset:hover, .playagain:hover {
    font-size: 18px;
  }

  .score-panel {
    font-size: 12px;
  }

}

