* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1em;
  background-color: rgb(48, 47, 47);
  color: rgb(214, 213, 213);
}

.container {
  margin: 50px;
  padding: 50px;
  background-color: rgb(175, 132, 76);
  border-radius: 20px;
}

.title {
  text-align: center;
}

.score-panel {
  margin-top: 50px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.playerx, .playero, .ties {
  margin: 7px;
  padding: 13px;
  border-radius: 10px;
  background-color: rgb(15, 48, 63);
}

.playerx.active {
  margin: 4px;
  border: 3px solid #bedb38;
}

.playero.active {
  margin: 4px;
  border: 3px solid #f27404;;
}

.tiescore, .poscore, .pxscore {
  margin-bottom: 15px;
  text-align: center;
}

.poname {
  color: #f27404;
}

.pxname {
  color: #bedb38;
}

.board {
  display: grid;
  grid-template-columns: 115px 115px 115px;
  grid-template-rows: 115px 115px 115px;
  margin-top: 60px;
  grid-gap: 15px;
  background-color: rgba(15, 48, 63, 0.6);
}

.cell {
  background-color: rgb(175, 132, 76);
  width: 115px;
  height: 115px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.settings-panel {
  font-size: 23px;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.reset {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}

.reset:hover {
  text-transform: uppercase;
  color: rgba(15, 48, 63, 0.6);
  text-decoration: underline;
}

.winner-panel.invisible {
  display: none;
}

.winner-panel.visible {
  text-align: center;
  margin-top: 20px;
  background-color: rgb(15, 48, 63);
  display: block;
}
