body {
  background: #002352;
  color: rgb(197, 194, 194);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.title {
  margin: 30px;
  font-size: x-large;
  text-transform: uppercase;
}
.container {
  margin: auto;
  width: 600px;
}

.jumbotron {
  margin: 30px;
  padding: 30px;
  background: linear-gradient(#6ca9f8, #0566e4);
}

.circle {
  border: 1px solid rgb(220, 217, 217);
  border-radius: 100%;
  background-color: #24446e;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  color: black;
  font-size: 15px;
}

.row {
  justify-content: center;
}