body {
  background: #494545;
  color: rgb(238, 238, 238);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.title {
  margin: 30px;
  font-size: x-large;
  text-transform: uppercase;
}
.container {
  margin: auto;
  width: 600px;
}

.jumbotron {
  margin: 30px;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(#6ca9f8, #0566e4);
}

.circlediv {
  margin: 0px;
  border-radius: 30px;
}

.circle, .hidecircle {
  border: 2px solid rgb(220, 217, 217);
  border-radius: 100%;
  background-color: #24446e;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  color: black;
  font-size: 15px;
}

.row {
  justify-content: center;
}

.fillRed {
  background-color: rgb(223, 75, 75);
}

.fillYellow {
  background-color: yellow;
}

.hide {
  visibility: hidden;
}

.highlight {
  background-color: #05eeff;
}

.winner {
  position: absolute;
  background-color: #385600;
  margin-top: 185px;
  font-size: 30px;
  margin-left: 50px;
  padding: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.tie {
  position: absolute;
  background-color: #2c4302;
  margin-top: 185px;
  font-size: 30px;
  margin-left: 100px;
  padding: 20px;
  font-weight: bold;
  opacity: 0.9;
}

.gameboard span {
  margin: 20px;
  padding: 11px;
  font-weight: bold;
  background-color:  #002352;
  opacity: 0.8;
  border-radius: 10px;
}

.redGame {
  color: rgb(255, 0, 0);
}

.yellowGame {
  color: yellow;
}

.btn {
  margin: 0px 20px;
}

.btn-warning, .btn-warning:hover {
  background-color: orange;
  color: white;
}