* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(58, 58, 58);
}

.title {
  text-align: center;
  margin: 20px;
  padding: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(58, 58, 58);
}

.leftside, .rightside {
  display: flex;
  justify-content: center;
  height: 65vh;
  width: 80%;
}

h5.upload-title {
  margin-left: 10px;
  font-size: 17px;
  letter-spacing: 0.04em;
  font-weight: bold;
}

h6 {
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: bold;
}

textarea {
  margin: 0px 20px;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  border: 0.2px solid lightblue;
  background: #f0f0f0;
  color: rgb(54, 54, 54);
  font-size: 15px;
  font-weight: 400;
}

.btn, .upload-container{
  margin: 20px;
  cursor: pointer;
  outline: none;
  font-size: 12px;
}

.upload-container {
  text-align: left;
}

#fileupload {
  padding: 5px;
  cursor: pointer;
}

.convert, .download, .upload-btn {
  margin-right: 5px;
  background-color: #794cff;
  color: white;
  letter-spacing: 0.03em;
  outline: none;
}

.upload-btn {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}

#clear:hover, #csvclear:hover {
  color: white;
  background-color: rgb(126, 118, 104);
}




